@import url('/global.css');


/* INCIO PAGINA PROFSSOR */
body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    background: url( '/src/assets/images/azul.svg');
    background-size: cover;
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem na tela */

}
.main-container {
    width: 100%;
    min-height: 100vh;
    padding: 40px;
}
/* ======= HEADER ======= */
header h1 {
    font-size: 42px;
    font-weight: 600;
    color: var(--color-neutral-White);
    margin-left: 70px;
    margin-top: 15px;
    padding: 10px;
}


header p {
    color: var(--color-neutral-black);
    font-size: 16px;
    margin-left: 70px;
    margin-top: -10px;
    padding: 10px;
    font-weight: bold;
}


/* ======= GRID PRINCIPAL ======= */
.tabela-layout {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 80px;
    gap: 40px;
    margin-left: 70px;
}


/* ======= CARDS ======= */
section {
    width: 360px;
    background: var( --color-neutral-estu);
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}


section h3 {
    font-size: 17px;
    margin-bottom: 18px;
}


/* ======= GRID DAS MATÉRIAS ======= */
.grid-disciplinas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}


/* ======= BOTÕES COM SETAS ======= */
.btn-1,
.btn-action,
.btn-2 {
    width: 100%;
    height: 34px;


    background: var( --color-neutral-bb);
    border: 1px solid #59647c;
    border-radius: 10px;


    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 0 12px;
    font-size: 13px;
    color: #333;


    cursor: pointer;
}
.container-interação{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.interação {
    height: 180px;           /* igual ao card de Atualizações */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/* SETINHA */
.input-icon {
    width: 14px;
    height: 14px;
    pointer-events: none;
}
