body{
    background-color: black;
    text-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #AFD7EA;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
input, button {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}
.card{
    background: rgba(93, 24, 158, 0.2);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease;
}
.card:hover{
    transform: scale(1.12);
}
